.calendar_navbar {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-bottom: 20px;
  border-radius: 100px;
}

.left, .center, .right {
  display: flex;
  align-items: center;
}

.left {
  flex: 1;
  margin-left: 20px;
  margin-top: 0.5%;
}

.center {
  flex: 2;
  justify-content: center;
}

.right {
  flex: 1;
  justify-content: flex-end;
  margin-right: 20px;
}

.date {
  margin-top: 1.2%;
}

.leftButton {
  width: 100px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.navigator, .viewButton {
  margin: 1.5% 1.5% 0 1.5%;
}

/* Dropdown */

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.dropdownInactiveButton {
  background-color: white;
  font-size: 16px;
  height: 40px;
  width: 250px;
  cursor: pointer;
}

.dropdownActiveButton {
  background-color: white;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 16px;
  height: 40px;
  width: 250px;
  cursor: pointer;
}

.dropdownContent {
  position: absolute;
  background-color: #f9f9f9;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
