.grid_container {
  display: grid;
  grid-template-rows: 40px 200px;
  grid-template-columns: 40px auto auto auto auto auto auto auto;
  height: 100%;
  overflow-y: auto;
}

.grid_container > * {
  border: 1px solid #000000;
}

.grid_container > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0; /* Remove default margin */
  height: 100%; /* Ensure it takes the full height of the grid cell */
}