.calendar_week {
  position: relative;
  width: 90%;
  height: 1330px;
}

.event {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid var(--yellow-event);
  border-radius: 5px;
}

